@import url(/css/fonts/langdon-webfont.css);
section, article, header, footer, nav, aside {
  display: block; }

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #3c373a; }

.page {
  color: #3c373a;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll; }
  .page .page-content {
    margin: auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: table;
    width: 60%;
    height: auto;
    font-size: 16px; }
    .page .page-content h1 {
      font-family: 'langdonregular';
      font-weight: normal;
      font-size: 72px;
      text-transform: lowercase;
      margin-bottom: 30px; }
    .page .page-content h2 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 18px; }
    .page .page-content p {
      line-height: 30px;
      margin-bottom: 1em; }
    .page .page-content p.intro {
      font-weight: 600; }

#home {
  background: url(../images/london.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }
  #home .page-content {
    background: url(../images/title-bg.png) no-repeat center center;
    min-height: 160px;
    padding: 100px 0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  min-height: 80px;
  height: auto !important;
  height: 80px;
  background: rgba(46, 42, 44, 0.95); }
  header nav ul {
    list-style: none;
    text-align: center; }
    header nav ul li {
      display: inline-block;
      position: relative; }
      header nav ul li a {
        display: inline-block;
        height: 80px;
        line-height: 80px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'langdonregular';
        font-weight: normal;
        font-size: 18px;
        padding: 0 23px; }
    header nav ul li.active {
      background: #353132; }

.odd {
  background: #edeceb; }

.even {
  background: #dddbda; }

.project-list {
  margin: 0 -15px; }

.project {
  width: calc(33.333333% - 30px);
  height: 150px;
  background: black;
  float: left;
  position: relative;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 15px;
  position: relative;
  top: 0;
  left: 2500px; }

.project:nth-child(1) {
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.project:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.project:nth-child(3) {
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.project:nth-child(4) {
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.project:nth-child(5) {
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.project:nth-child(6) {
  -moz-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s; }

#portfolio.visited .project {
  left: 0; }

#contact input[type=text], #contact input[type=email], #contact textarea {
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 2px;
  font-size: 16px;
  color: #3c373a; }
#contact input[type=text], #contact input[type=email] {
  line-height: 60px;
  height: 60px;
  padding: 0 30px; }
#contact textarea {
  padding: 30px;
  height: 140px;
  margin-bottom: 15px; }

.button {
  font-family: 'langdonregular';
  font-size: 24px;
  font-weight: normal;
  border: 3px solid #3c373a;
  display: inline-block;
  margin: 0 15px;
  height: 60px;
  line-height: 54px;
  padding: 0 50px;
  text-transform: uppercase;
  color: #3c373a;
  text-decoration: none;
  cursor: pointer;
  background: none; }

.button:hover {
  background: #3c373a;
  color: white; }

#form-target {
  width: 1px;
  height: 1px;
  visibility: hidden; }

/*# sourceMappingURL=style.css.map */
